@charset "UTF-8";
/**
 * Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */
@font-face {
  font-family: 'freedom';
  src: url("../fonts/freedom.ttf?b7r2dg") format("truetype"), url("../fonts/freedom.woff?b7r2dg") format("woff"), url("../fonts/freedom.svg?b7r2dg#freedom") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon,
.icon-before:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'freedom' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: top;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home::before {
  content: ""; }
.icon-home2::before {
  content: ""; }
.icon-home3::before {
  content: ""; }
.icon-office::before {
  content: ""; }
.icon-newspaper::before {
  content: ""; }
.icon-pencil::before {
  content: ""; }
.icon-pencil2::before {
  content: ""; }
.icon-quill::before {
  content: ""; }
.icon-pen::before {
  content: ""; }
.icon-blog::before {
  content: ""; }
.icon-eyedropper::before {
  content: ""; }
.icon-droplet::before {
  content: ""; }
.icon-paint-format::before {
  content: ""; }
.icon-image::before {
  content: ""; }
.icon-images::before {
  content: ""; }
.icon-camera::before {
  content: ""; }
.icon-headphones::before {
  content: ""; }
.icon-music::before {
  content: ""; }
.icon-play::before {
  content: ""; }
.icon-film::before {
  content: ""; }
.icon-video-camera::before {
  content: ""; }
.icon-dice::before {
  content: ""; }
.icon-pacman::before {
  content: ""; }
.icon-spades::before {
  content: ""; }
.icon-clubs::before {
  content: ""; }
.icon-diamonds::before {
  content: ""; }
.icon-bullhorn::before {
  content: ""; }
.icon-connection::before {
  content: ""; }
.icon-podcast::before {
  content: ""; }
.icon-feed::before {
  content: ""; }
.icon-mic::before {
  content: ""; }
.icon-book::before {
  content: ""; }
.icon-books::before {
  content: ""; }
.icon-library::before {
  content: ""; }
.icon-file-text::before {
  content: ""; }
.icon-profile::before {
  content: ""; }
.icon-file-empty::before {
  content: ""; }
.icon-files-empty::before {
  content: ""; }
.icon-file-text2::before {
  content: ""; }
.icon-file-picture::before {
  content: ""; }
.icon-file-music::before {
  content: ""; }
.icon-file-play::before {
  content: ""; }
.icon-file-video::before {
  content: ""; }
.icon-file-zip::before {
  content: ""; }
.icon-copy::before {
  content: ""; }
.icon-paste::before {
  content: ""; }
.icon-stack::before {
  content: ""; }
.icon-folder::before {
  content: ""; }
.icon-folder-open::before {
  content: ""; }
.icon-folder-plus::before {
  content: ""; }
.icon-folder-minus::before {
  content: ""; }
.icon-folder-download::before {
  content: ""; }
.icon-folder-upload::before {
  content: ""; }
.icon-price-tag::before {
  content: ""; }
.icon-price-tags::before {
  content: ""; }
.icon-barcode::before {
  content: ""; }
.icon-qrcode::before {
  content: ""; }
.icon-ticket::before {
  content: ""; }
.icon-cart::before {
  content: ""; }
.icon-coin-dollar::before {
  content: ""; }
.icon-coin-euro::before {
  content: ""; }
.icon-coin-pound::before {
  content: ""; }
.icon-coin-yen::before {
  content: ""; }
.icon-credit-card::before {
  content: ""; }
.icon-calculator::before {
  content: ""; }
.icon-lifebuoy::before {
  content: ""; }
.icon-phone::before {
  content: ""; }
.icon-phone-hang-up::before {
  content: ""; }
.icon-address-book::before {
  content: ""; }
.icon-envelop::before {
  content: ""; }
.icon-pushpin::before {
  content: ""; }
.icon-location::before {
  content: ""; }
.icon-location2::before {
  content: ""; }
.icon-compass::before {
  content: ""; }
.icon-compass2::before {
  content: ""; }
.icon-map::before {
  content: ""; }
.icon-map2::before {
  content: ""; }
.icon-history::before {
  content: ""; }
.icon-clock::before {
  content: ""; }
.icon-clock2::before {
  content: ""; }
.icon-alarm::before {
  content: ""; }
.icon-bell::before {
  content: ""; }
.icon-stopwatch::before {
  content: ""; }
.icon-calendar::before {
  content: ""; }
.icon-printer::before {
  content: ""; }
.icon-keyboard::before {
  content: ""; }
.icon-display::before {
  content: ""; }
.icon-laptop::before {
  content: ""; }
.icon-mobile::before {
  content: ""; }
.icon-mobile2::before {
  content: ""; }
.icon-tablet::before {
  content: ""; }
.icon-tv::before {
  content: ""; }
.icon-drawer::before {
  content: ""; }
.icon-drawer2::before {
  content: ""; }
.icon-box-add::before {
  content: ""; }
.icon-box-remove::before {
  content: ""; }
.icon-download::before {
  content: ""; }
.icon-upload::before {
  content: ""; }
.icon-floppy-disk::before {
  content: ""; }
.icon-drive::before {
  content: ""; }
.icon-database::before {
  content: ""; }
.icon-undo::before {
  content: ""; }
.icon-redo::before {
  content: ""; }
.icon-undo2::before {
  content: ""; }
.icon-redo2::before {
  content: ""; }
.icon-forward::before {
  content: ""; }
.icon-reply::before {
  content: ""; }
.icon-bubble::before {
  content: ""; }
.icon-bubbles::before {
  content: ""; }
.icon-bubbles2::before {
  content: ""; }
.icon-bubble2::before {
  content: ""; }
.icon-bubbles3::before {
  content: ""; }
.icon-bubbles4::before {
  content: ""; }
.icon-user::before {
  content: ""; }
.icon-users::before {
  content: ""; }
.icon-user-plus::before {
  content: ""; }
.icon-user-minus::before {
  content: ""; }
.icon-user-check::before {
  content: ""; }
.icon-user-tie::before {
  content: ""; }
.icon-quotes-left::before {
  content: ""; }
.icon-quotes-right::before {
  content: ""; }
.icon-hour-glass::before {
  content: ""; }
.icon-spinner::before {
  content: ""; }
.icon-spinner2::before {
  content: ""; }
.icon-spinner3::before {
  content: ""; }
.icon-spinner4::before {
  content: ""; }
.icon-spinner5::before {
  content: ""; }
.icon-spinner6::before {
  content: ""; }
.icon-spinner7::before {
  content: ""; }
.icon-spinner8::before {
  content: ""; }
.icon-spinner9::before {
  content: ""; }
.icon-spinner10::before {
  content: ""; }
.icon-spinner11::before {
  content: ""; }
.icon-binoculars::before {
  content: ""; }
.icon-search::before {
  content: ""; }
.icon-zoom-in::before {
  content: ""; }
.icon-zoom-out::before {
  content: ""; }
.icon-enlarge::before {
  content: ""; }
.icon-shrink::before {
  content: ""; }
.icon-enlarge2::before {
  content: ""; }
.icon-shrink2::before {
  content: ""; }
.icon-key::before {
  content: ""; }
.icon-key2::before {
  content: ""; }
.icon-lock::before {
  content: ""; }
.icon-unlocked::before {
  content: ""; }
.icon-wrench::before {
  content: ""; }
.icon-equalizer::before {
  content: ""; }
.icon-equalizer2::before {
  content: ""; }
.icon-cog::before {
  content: ""; }
.icon-cogs::before {
  content: ""; }
.icon-hammer::before {
  content: ""; }
.icon-magic-wand::before {
  content: ""; }
.icon-aid-kit::before {
  content: ""; }
.icon-bug::before {
  content: ""; }
.icon-pie-chart::before {
  content: ""; }
.icon-stats-dots::before {
  content: ""; }
.icon-stats-bars::before {
  content: ""; }
.icon-stats-bars2::before {
  content: ""; }
.icon-trophy::before {
  content: ""; }
.icon-gift::before {
  content: ""; }
.icon-glass::before {
  content: ""; }
.icon-glass2::before {
  content: ""; }
.icon-mug::before {
  content: ""; }
.icon-spoon-knife::before {
  content: ""; }
.icon-leaf::before {
  content: ""; }
.icon-rocket::before {
  content: ""; }
.icon-meter::before {
  content: ""; }
.icon-meter2::before {
  content: ""; }
.icon-hammer2::before {
  content: ""; }
.icon-fire::before {
  content: ""; }
.icon-lab::before {
  content: ""; }
.icon-magnet::before {
  content: ""; }
.icon-bin::before {
  content: ""; }
.icon-bin2::before {
  content: ""; }
.icon-briefcase::before {
  content: ""; }
.icon-airplane::before {
  content: ""; }
.icon-truck::before {
  content: ""; }
.icon-road::before {
  content: ""; }
.icon-accessibility::before {
  content: ""; }
.icon-target::before {
  content: ""; }
.icon-shield::before {
  content: ""; }
.icon-power::before {
  content: ""; }
.icon-switch::before {
  content: ""; }
.icon-power-cord::before {
  content: ""; }
.icon-clipboard::before {
  content: ""; }
.icon-list-numbered::before {
  content: ""; }
.icon-list::before {
  content: ""; }
.icon-list2::before {
  content: ""; }
.icon-tree::before {
  content: ""; }
.icon-menu::before {
  content: ""; }
.icon-menu2::before {
  content: ""; }
.icon-menu3::before {
  content: ""; }
.icon-menu4::before {
  content: ""; }
.icon-cloud::before {
  content: ""; }
.icon-cloud-download::before {
  content: ""; }
.icon-cloud-upload::before {
  content: ""; }
.icon-cloud-check::before {
  content: ""; }
.icon-download2::before {
  content: ""; }
.icon-upload2::before {
  content: ""; }
.icon-download3::before {
  content: ""; }
.icon-upload3::before {
  content: ""; }
.icon-sphere::before {
  content: ""; }
.icon-earth::before {
  content: ""; }
.icon-link::before {
  content: ""; }
.icon-flag::before {
  content: ""; }
.icon-attachment::before {
  content: ""; }
.icon-eye::before {
  content: ""; }
.icon-eye-plus::before {
  content: ""; }
.icon-eye-minus::before {
  content: ""; }
.icon-eye-blocked::before {
  content: ""; }
.icon-bookmark::before {
  content: ""; }
.icon-bookmarks::before {
  content: ""; }
.icon-sun::before {
  content: ""; }
.icon-contrast::before {
  content: ""; }
.icon-brightness-contrast::before {
  content: ""; }
.icon-star-empty::before {
  content: ""; }
.icon-star-half::before {
  content: ""; }
.icon-star-full::before {
  content: ""; }
.icon-heart::before {
  content: ""; }
.icon-heart-broken::before {
  content: ""; }
.icon-man::before {
  content: ""; }
.icon-woman::before {
  content: ""; }
.icon-man-woman::before {
  content: ""; }
.icon-happy::before {
  content: ""; }
.icon-happy2::before {
  content: ""; }
.icon-smile::before {
  content: ""; }
.icon-smile2::before {
  content: ""; }
.icon-tongue::before {
  content: ""; }
.icon-tongue2::before {
  content: ""; }
.icon-sad::before {
  content: ""; }
.icon-sad2::before {
  content: ""; }
.icon-wink::before {
  content: ""; }
.icon-wink2::before {
  content: ""; }
.icon-grin::before {
  content: ""; }
.icon-grin2::before {
  content: ""; }
.icon-cool::before {
  content: ""; }
.icon-cool2::before {
  content: ""; }
.icon-angry::before {
  content: ""; }
.icon-angry2::before {
  content: ""; }
.icon-evil::before {
  content: ""; }
.icon-evil2::before {
  content: ""; }
.icon-shocked::before {
  content: ""; }
.icon-shocked2::before {
  content: ""; }
.icon-baffled::before {
  content: ""; }
.icon-baffled2::before {
  content: ""; }
.icon-confused::before {
  content: ""; }
.icon-confused2::before {
  content: ""; }
.icon-neutral::before {
  content: ""; }
.icon-neutral2::before {
  content: ""; }
.icon-hipster::before {
  content: ""; }
.icon-hipster2::before {
  content: ""; }
.icon-wondering::before {
  content: ""; }
.icon-wondering2::before {
  content: ""; }
.icon-sleepy::before {
  content: ""; }
.icon-sleepy2::before {
  content: ""; }
.icon-frustrated::before {
  content: ""; }
.icon-frustrated2::before {
  content: ""; }
.icon-crying::before {
  content: ""; }
.icon-crying2::before {
  content: ""; }
.icon-point-up::before {
  content: ""; }
.icon-point-right::before {
  content: ""; }
.icon-point-down::before {
  content: ""; }
.icon-point-left::before {
  content: ""; }
.icon-warning::before {
  content: ""; }
.icon-notification::before {
  content: ""; }
.icon-question::before {
  content: ""; }
.icon-plus::before {
  content: ""; }
.icon-minus::before {
  content: ""; }
.icon-info::before {
  content: ""; }
.icon-cancel-circle::before {
  content: ""; }
.icon-blocked::before {
  content: ""; }
.icon-cross::before {
  content: ""; }
.icon-checkmark::before {
  content: ""; }
.icon-checkmark2::before {
  content: ""; }
.icon-spell-check::before {
  content: ""; }
.icon-enter::before {
  content: ""; }
.icon-exit::before {
  content: ""; }
.icon-play2::before {
  content: ""; }
.icon-pause::before {
  content: ""; }
.icon-stop::before {
  content: ""; }
.icon-previous::before {
  content: ""; }
.icon-next::before {
  content: ""; }
.icon-backward::before {
  content: ""; }
.icon-forward2::before {
  content: ""; }
.icon-play3::before {
  content: ""; }
.icon-pause2::before {
  content: ""; }
.icon-stop2::before {
  content: ""; }
.icon-backward2::before {
  content: ""; }
.icon-forward3::before {
  content: ""; }
.icon-first::before {
  content: ""; }
.icon-last::before {
  content: ""; }
.icon-previous2::before {
  content: ""; }
.icon-next2::before {
  content: ""; }
.icon-eject::before {
  content: ""; }
.icon-volume-high::before {
  content: ""; }
.icon-volume-medium::before {
  content: ""; }
.icon-volume-low::before {
  content: ""; }
.icon-volume-mute::before {
  content: ""; }
.icon-volume-mute2::before {
  content: ""; }
.icon-volume-increase::before {
  content: ""; }
.icon-volume-decrease::before {
  content: ""; }
.icon-loop::before {
  content: ""; }
.icon-loop2::before {
  content: ""; }
.icon-infinite::before {
  content: ""; }
.icon-shuffle::before {
  content: ""; }
.icon-arrow-up-left::before {
  content: ""; }
.icon-arrow-up::before {
  content: ""; }
.icon-arrow-up-right::before {
  content: ""; }
.icon-arrow-right::before {
  content: ""; }
.icon-arrow-down-right::before {
  content: ""; }
.icon-arrow-down::before {
  content: ""; }
.icon-arrow-down-left::before {
  content: ""; }
.icon-arrow-left::before {
  content: ""; }
.icon-arrow-up-left2::before {
  content: ""; }
.icon-arrow-up2::before {
  content: ""; }
.icon-arrow-up-right2::before {
  content: ""; }
.icon-arrow-right2::before {
  content: ""; }
.icon-arrow-down-right2::before {
  content: ""; }
.icon-arrow-down2::before {
  content: ""; }
.icon-arrow-down-left2::before {
  content: ""; }
.icon-arrow-left2::before {
  content: ""; }
.icon-circle-up::before {
  content: ""; }
.icon-circle-right::before {
  content: ""; }
.icon-circle-down::before {
  content: ""; }
.icon-circle-left::before {
  content: ""; }
.icon-tab::before {
  content: ""; }
.icon-move-up::before {
  content: ""; }
.icon-move-down::before {
  content: ""; }
.icon-sort-alpha-asc::before {
  content: ""; }
.icon-sort-alpha-desc::before {
  content: ""; }
.icon-sort-numeric-asc::before {
  content: ""; }
.icon-sort-numberic-desc::before {
  content: ""; }
.icon-sort-amount-asc::before {
  content: ""; }
.icon-sort-amount-desc::before {
  content: ""; }
.icon-command::before {
  content: ""; }
.icon-shift::before {
  content: ""; }
.icon-ctrl::before {
  content: ""; }
.icon-opt::before {
  content: ""; }
.icon-checkbox-checked::before {
  content: ""; }
.icon-checkbox-unchecked::before {
  content: ""; }
.icon-radio-checked::before {
  content: ""; }
.icon-radio-checked2::before {
  content: ""; }
.icon-radio-unchecked::before {
  content: ""; }
.icon-crop::before {
  content: ""; }
.icon-make-group::before {
  content: ""; }
.icon-ungroup::before {
  content: ""; }
.icon-scissors::before {
  content: ""; }
.icon-filter::before {
  content: ""; }
.icon-font::before {
  content: ""; }
.icon-ligature::before {
  content: ""; }
.icon-ligature2::before {
  content: ""; }
.icon-text-height::before {
  content: ""; }
.icon-text-width::before {
  content: ""; }
.icon-font-size::before {
  content: ""; }
.icon-bold::before {
  content: ""; }
.icon-underline::before {
  content: ""; }
.icon-italic::before {
  content: ""; }
.icon-strikethrough::before {
  content: ""; }
.icon-omega::before {
  content: ""; }
.icon-sigma::before {
  content: ""; }
.icon-page-break::before {
  content: ""; }
.icon-superscript::before {
  content: ""; }
.icon-subscript::before {
  content: ""; }
.icon-superscript2::before {
  content: ""; }
.icon-subscript2::before {
  content: ""; }
.icon-text-color::before {
  content: ""; }
.icon-pagebreak::before {
  content: ""; }
.icon-clear-formatting::before {
  content: ""; }
.icon-table::before {
  content: ""; }
.icon-table2::before {
  content: ""; }
.icon-insert-template::before {
  content: ""; }
.icon-pilcrow::before {
  content: ""; }
.icon-ltr::before {
  content: ""; }
.icon-rtl::before {
  content: ""; }
.icon-section::before {
  content: ""; }
.icon-paragraph-left::before {
  content: ""; }
.icon-paragraph-center::before {
  content: ""; }
.icon-paragraph-right::before {
  content: ""; }
.icon-paragraph-justify::before {
  content: ""; }
.icon-indent-increase::before {
  content: ""; }
.icon-indent-decrease::before {
  content: ""; }
.icon-share::before {
  content: ""; }
.icon-new-tab::before {
  content: ""; }
.icon-embed::before {
  content: ""; }
.icon-embed2::before {
  content: ""; }
.icon-terminal::before {
  content: ""; }
.icon-share2::before {
  content: ""; }
.icon-mail::before {
  content: ""; }
.icon-mail2::before {
  content: ""; }
.icon-mail3::before {
  content: ""; }
.icon-mail4::before {
  content: ""; }
.icon-amazon::before {
  content: ""; }
.icon-google::before {
  content: ""; }
.icon-google2::before {
  content: ""; }
.icon-google3::before {
  content: ""; }
.icon-google-plus::before {
  content: ""; }
.icon-google-plus2::before {
  content: ""; }
.icon-google-plus3::before {
  content: ""; }
.icon-hangouts::before {
  content: ""; }
.icon-google-drive::before {
  content: ""; }
.icon-facebook::before {
  content: ""; }
.icon-facebook2::before {
  content: ""; }
.icon-instagram::before {
  content: ""; }
.icon-whatsapp::before {
  content: ""; }
.icon-spotify::before {
  content: ""; }
.icon-telegram::before {
  content: ""; }
.icon-twitter::before {
  content: ""; }
.icon-vine::before {
  content: ""; }
.icon-vk::before {
  content: ""; }
.icon-renren::before {
  content: ""; }
.icon-sina-weibo::before {
  content: ""; }
.icon-rss::before {
  content: ""; }
.icon-rss2::before {
  content: ""; }
.icon-youtube::before {
  content: ""; }
.icon-youtube2::before {
  content: ""; }
.icon-twitch::before {
  content: ""; }
.icon-vimeo::before {
  content: ""; }
.icon-vimeo2::before {
  content: ""; }
.icon-lanyrd::before {
  content: ""; }
.icon-flickr::before {
  content: ""; }
.icon-flickr2::before {
  content: ""; }
.icon-flickr3::before {
  content: ""; }
.icon-flickr4::before {
  content: ""; }
.icon-dribbble::before {
  content: ""; }
.icon-behance::before {
  content: ""; }
.icon-behance2::before {
  content: ""; }
.icon-deviantart::before {
  content: ""; }
.icon-500px::before {
  content: ""; }
.icon-steam::before {
  content: ""; }
.icon-steam2::before {
  content: ""; }
.icon-dropbox::before {
  content: ""; }
.icon-onedrive::before {
  content: ""; }
.icon-github::before {
  content: ""; }
.icon-npm::before {
  content: ""; }
.icon-basecamp::before {
  content: ""; }
.icon-trello::before {
  content: ""; }
.icon-wordpress::before {
  content: ""; }
.icon-joomla::before {
  content: ""; }
.icon-ello::before {
  content: ""; }
.icon-blogger::before {
  content: ""; }
.icon-blogger2::before {
  content: ""; }
.icon-tumblr::before {
  content: ""; }
.icon-tumblr2::before {
  content: ""; }
.icon-yahoo::before {
  content: ""; }
.icon-yahoo2::before {
  content: ""; }
.icon-tux::before {
  content: ""; }
.icon-appleinc::before {
  content: ""; }
.icon-finder::before {
  content: ""; }
.icon-android::before {
  content: ""; }
.icon-windows::before {
  content: ""; }
.icon-windows8::before {
  content: ""; }
.icon-soundcloud::before {
  content: ""; }
.icon-soundcloud2::before {
  content: ""; }
.icon-skype::before {
  content: ""; }
.icon-reddit::before {
  content: ""; }
.icon-hackernews::before {
  content: ""; }
.icon-wikipedia::before {
  content: ""; }
.icon-linkedin::before {
  content: ""; }
.icon-linkedin2::before {
  content: ""; }
.icon-lastfm::before {
  content: ""; }
.icon-lastfm2::before {
  content: ""; }
.icon-delicious::before {
  content: ""; }
.icon-stumbleupon::before {
  content: ""; }
.icon-stumbleupon2::before {
  content: ""; }
.icon-stackoverflow::before {
  content: ""; }
.icon-pinterest::before {
  content: ""; }
.icon-pinterest2::before {
  content: ""; }
.icon-xing::before {
  content: ""; }
.icon-xing2::before {
  content: ""; }
.icon-flattr::before {
  content: ""; }
.icon-foursquare::before {
  content: ""; }
.icon-yelp::before {
  content: ""; }
.icon-paypal::before {
  content: ""; }
.icon-chrome::before {
  content: ""; }
.icon-firefox::before {
  content: ""; }
.icon-IE::before {
  content: ""; }
.icon-edge::before {
  content: ""; }
.icon-safari::before {
  content: ""; }
.icon-opera::before {
  content: ""; }
.icon-file-pdf::before {
  content: ""; }
.icon-file-openoffice::before {
  content: ""; }
.icon-file-word::before {
  content: ""; }
.icon-file-excel::before {
  content: ""; }
.icon-libreoffice::before {
  content: ""; }
.icon-html-five::before {
  content: ""; }
.icon-html-five2::before {
  content: ""; }
.icon-css3::before {
  content: ""; }
.icon-git::before {
  content: ""; }
.icon-codepen::before {
  content: ""; }
.icon-svg::before {
  content: ""; }
.icon-freedom::before {
  content: ""; }

.content {
  position: relative; }

.content-enter-active,
.content-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .5s ease; }

.content-enter,
.content-leave-active {
  opacity: 0; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease; }

.fade-enter,
.fade-leave-active {
  opacity: 0; }

.status {
  display: inline-block;
  cursor: pointer;
  width: .875rem;
  height: .875rem;
  vertical-align: middle;
  border-radius: 50%; }
  .status-primary {
    background: #20A0FF; }
  .status-success {
    background: #13CE66; }
  .status-warning {
    background: #F7BA2A; }
  .status-danger {
    background: #FF4949; }
  .status-info {
    background: #50BFFF; }

::selection {
  color: #FFFFFF;
  background: #89CCFF;
  text-shadow: none; }

a, a:visited {
  color: #1D8CE0;
  text-decoration: none; }
a:hover, a:active, a:focus {
  color: #337ab7;
  text-decoration: none;
  outline: 0; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  background: #24313c;
  overflow: hidden; }

body {
  background: #2b3b49;
  color: #FFFFFF;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .wrapper > .main {
    display: flex;
    flex: 1; }
    .wrapper > .main > .content {
      flex: 1;
      margin: 0 0.3125rem 0 0;
      overflow: auto;
      border-top-left-radius: 0.1875rem;
      border-top-right-radius: 0.1875rem;
      background-color: #F0F1F3;
      color: #24313c;
      font-size: .875rem; }
      .wrapper > .main > .content > .inner {
        margin: 1.25rem 1rem; }
        .wrapper > .main > .content > .inner > .heading {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: .875rem;
          padding-bottom: .25rem; }
          .wrapper > .main > .content > .inner > .heading > .title {
            margin: 0 auto 0 0;
            font-size: 1.375rem;
            font-weight: 300;
            line-height: 1; }
          .wrapper > .main > .content > .inner > .heading > .action {
            display: flex;
            list-style: none;
            margin: 0 0 0 1rem;
            padding: 0;
            overflow: hidden;
            font-size: 1rem; }
            .wrapper > .main > .content > .inner > .heading > .action > li {
              margin-left: .375rem; }
              .wrapper > .main > .content > .inner > .heading > .action > li > a {
                color: #24313c;
                opacity: .5;
                transition: opacity .2s; }
                .wrapper > .main > .content > .inner > .heading > .action > li > a:hover {
                  opacity: 1; }
          .wrapper > .main > .content > .inner > .heading > .search {
            flex: 1;
            margin: 0 1.25rem;
            border-left: 0.0625rem solid #9cb1c3; }
            .wrapper > .main > .content > .inner > .heading > .search::before {
              display: inline-block;
              padding: .375rem .625rem;
              color: #24313c;
              opacity: .6; }
            .wrapper > .main > .content > .inner > .heading > .search input {
              width: 30%;
              padding: .25rem .3rem;
              background: transparent;
              border: 0;
              border-bottom: .0625rem solid transparent;
              border-radius: 0;
              color: #4a657c;
              font-size: .875rem;
              transition: border-bottom .2s ease, width .3s ease; }
              .wrapper > .main > .content > .inner > .heading > .search input:focus {
                width: 90%;
                border-bottom-color: #7c98b0;
                outline: 0; }

.header {
  display: flex;
  padding: 0 .5rem; }
  .header > .brand {
    margin: 0 1rem 0 0;
    font: italic 1.25rem sans-serif;
    line-height: 2rem; }
    .header > .brand > a {
      color: #D3DCE6; }
      .header > .brand > a:hover {
        color: #FFFFFF; }
    .header > .brand:hover {
      color: #FFFFFF; }
  .header > .toolbar {
    display: flex;
    flex: 1; }
    .header > .toolbar > .list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
      .header > .toolbar > .list > .item {
        position: relative; }
        .header > .toolbar > .list > .item > a {
          display: block;
          padding: 0 .625rem;
          color: #D3DCE6;
          font-size: 0.75rem;
          line-height: 2rem; }
          .header > .toolbar > .list > .item > a::before {
            margin-right: .3125rem; }
          .header > .toolbar > .list > .item > a > img {
            max-width: 1rem;
            max-height: 1rem;
            margin-top: -.25rem;
            background: #3e4c59;
            border: 0.0625rem solid #515e6a;
            vertical-align: middle; }
        .header > .toolbar > .list > .item > .list {
          display: none;
          list-style: none;
          position: absolute;
          z-index: 99;
          min-width: 5rem;
          margin: 0;
          padding: .625rem;
          background: #24313c; }
          .header > .toolbar > .list > .item > .list > .divider::before {
            display: block;
            height: .0625rem;
            margin: .125rem;
            background: #283643;
            content: ''; }
          .header > .toolbar > .list > .item > .list > .item > a {
            display: block;
            padding: .125rem;
            color: #D3DCE6;
            font-size: 0.8125rem;
            white-space: nowrap; }
          .header > .toolbar > .list > .item > .list > .item:hover > a {
            color: #89CCFF; }
        .header > .toolbar > .list > .item:hover > a {
          background: #24313c;
          color: #89CCFF; }
        .header > .toolbar > .list > .item:hover > .list {
          display: block; }
      .header > .toolbar > .list:last-child {
        margin-left: auto; }
        .header > .toolbar > .list:last-child > .item > .list {
          right: 0;
          text-align: right; }

@media screen and (max-width: 568px) {
  .header > .toolbar > .list:first-child {
    display: none; } }
.sidebar {
  display: flex;
  flex-direction: column;
  width: 10rem;
  transition: width .3s; }
  .sidebar > .menu {
    flex: 1; }
    .sidebar > .menu > .list {
      list-style: none;
      margin: 0;
      padding: 0; }
      .sidebar > .menu > .list > .title {
        padding: .25rem .75rem;
        color: #718eaf;
        font-size: .75rem;
        text-shadow: 0 0 0.125rem #24313c; }
      .sidebar > .menu > .list > .divider::before {
        display: block;
        height: .5rem;
        content: ''; }
      .sidebar > .menu > .list > .item {
        position: relative; }
        .sidebar > .menu > .list > .item > a {
          display: block;
          color: #D3DCE6;
          font-size: .875rem;
          line-height: 2.25rem;
          white-space: nowrap;
          overflow: hidden; }
          .sidebar > .menu > .list > .item > a > i, .sidebar > .menu > .list > .item > a::before {
            padding: 0 0.625rem;
            font-size: 1rem; }
        .sidebar > .menu > .list > .item > .list {
          display: none;
          list-style: none;
          padding: .625rem .875rem; }
          .sidebar > .menu > .list > .item > .list > .divider::before {
            display: block;
            height: .0625rem;
            margin: .125rem;
            background: #283643;
            content: ''; }
          .sidebar > .menu > .list > .item > .list > .item > a {
            display: block;
            padding: .125rem;
            font-size: .8125rem;
            color: #D3DCE6;
            white-space: nowrap;
            overflow: hidden; }
          .sidebar > .menu > .list > .item > .list > .item.active a {
            color: #6abfff; }
          .sidebar > .menu > .list > .item > .list > .item:hover a {
            color: #89CCFF; }
        .sidebar > .menu > .list > .item:hover > a {
          background: #24313c;
          color: #89CCFF; }
        .sidebar > .menu > .list > .item:hover > .list {
          display: block;
          position: absolute;
          top: 0;
          left: 100%;
          z-index: 99;
          min-width: 5rem;
          background: #24313c;
          background: #202c36; }
          .sidebar > .menu > .list > .item:hover > .list::before {
            display: inline-block;
            position: absolute;
            top: 0;
            left: -.875rem;
            margin: 0.6875rem 0;
            border: 0.4375rem solid transparent;
            border-right-color: #202c36;
            content: ''; }
        .sidebar > .menu > .list > .item.active > a {
          color: #FFFFFF;
          background: #337ab7; }
          .sidebar > .menu > .list > .item.active > a::after {
            display: inline-block;
            position: absolute;
            right: 0;
            margin: 0.6875rem 0;
            border: 0.4375rem solid transparent;
            border-right-color: #F0F1F3;
            content: ''; }
        .sidebar > .menu > .list > .item.active > .list {
          display: block;
          position: static;
          background: #2f414f; }
          .sidebar > .menu > .list > .item.active > .list > .divider::before {
            background: #283642; }
  .sidebar > .footer {
    width: 10rem;
    border-top: 0.0625rem solid #283643;
    line-height: 2rem; }
    .sidebar > .footer > .toggle {
      display: inline-block;
      padding: 0 0.625rem;
      border-right: 0.0625rem solid #283643;
      color: #567597;
      font-size: 1rem;
      transition: transform .3s; }
      .sidebar > .footer > .toggle:hover {
        color: #D3DCE6; }
    .sidebar > .footer > .copyright {
      display: inline-block;
      padding-left: .5rem;
      color: #567597;
      font-size: .75rem; }
      .sidebar > .footer > .copyright:hover {
        color: #D3DCE6; }

.sidebar.collapse {
  width: 2.25rem; }
  .sidebar.collapse .title {
    display: none; }
  .sidebar.collapse .menu {
    margin-top: .625rem; }
    .sidebar.collapse .menu > .list > .item:not(:hover) > .list {
      display: none; }
    .sidebar.collapse .menu > .list > .item.active > .list {
      position: absolute;
      background: #24313c; }
  .sidebar.collapse .toggle {
    transform: rotate(180deg); }

@media screen and (max-width: 768px) {
  .sidebar {
    width: 2.25rem; }
    .sidebar .title {
      display: none; }
    .sidebar .menu {
      margin-top: .625rem; }
      .sidebar .menu > .list > .item:not(:hover) > .list {
        display: none; }
      .sidebar .menu > .list > .item.active > .list {
        position: absolute;
        background: #24313c; }
    .sidebar .toggle {
      transform: rotate(180deg); } }
.icons {
  width: 100%;
  word-wrap: break-word; }
  .icons i {
    display: inline-block;
    margin: 1rem;
    font-size: 2.25rem; }

/*# sourceMappingURL=main.css.map */
