/*将来所有的css的样式我们都要放在css文件中*/
/* css 初始化 B */
html,body,ul,li,p,h1,h2,h3,img,input {
	margin:0;
	padding:0;
}

input,img {
	border: 0;
}
ul {
	list-style: none;
}
body {
	font-size: 12px;
	color: #434343;
	font-family: "宋体";
	background: #FFFFFF;
}
.clearfix:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix {
	zoom: 1;
}
a {
	color: #434343;
	text-decoration: none;
}
a:hover {
	color: #0266A3;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/* css 初始化 E */